<nav>  
    <div class="logo">
        <img src="https://i.pinimg.com/originals/86/0c/87/860c87633f4de3aae800d9c948cbebdd.png" alt="LOGO">   
    </div>
    <ul class="navLink">
      <li><a href="/feed">Feed</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <div class="lines">
        <div class="l1"></div>
        <div class="l2"></div>
        <div class="l3"></div>
    </div>
  </nav>